@import "tailwindcss";

/* hanya untuk preview theme color */
:root {
  --color-primary: #023e7d;
  --color-secondary: #ffdd4a;
  --color-bg: #ffffff;
  --color-bg-secondary: #f6f6f6;
  --color-text: #0f172a;
  --color-text-secondary: #676767;
}

/* Variabel default */
@theme {
  --color-primary: #023e7d;
  --color-secondary: #ffdd4a;
  --color-bg: #ffffff;
  --color-bg-secondary: #f6f6f6;
  --color-text: #0f172a;
  --color-text-secondary: #676767;
}

/* Variabel untuk dark mode */
.dark {
  --color-primary: #fe9000;
  --color-secondary: #3d6646;
  --color-bg: #0f172a;
  --color-bg-secondary: #1d263c;
  --color-text: #f8fafc;
  --color-text-secondary: #c3c3c3;
}
